node_modules
got-weed-linux
got-weed-macos
got-weed-win.exe
.env
.nyc_output
hop.txt
prods-full.json
prods.json
products-full.json
products-in-stock.json
products-not-in-stock.json
urls.txt
huiles.json
moulu-v2.json
moulu-v3.json
moulu-v4.json
moulu.json
